<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>删除</title>
    <style>
        body{
            height: 100%;
            width: 100%;
            background: linear-gradient(to bottom,#caff88, #b5d6ff);
        }
    </style>
</head>
<body>
<img  style="position: absolute;top: 20%;left: 30%;height: 80%;width: 60%" src="http://pic.962.net/up/2018-2/201829111041792.jpg">
    <div >
        <div  style="font-size: 30px;position:absolute;top: 15%;left: 15%;color:red">已经成功删除一条数据了哦^_^</div>
    </div>

</body>
</html>