<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>成功</title>
    <style>
        body{
            background:aliceblue;
        }
        img{

            position: absolute;
            left:30%;
            height: 800px;
            width: 700px;
        }
        div{
            position: absolute;
            left: 15%;
            top:30%;
            font-size: 50px;
            color: #ff3448;
        }
    </style>
</head>
<body>

    <img src="http://www.005.tv/uploads/allimg/170406/205R32951-6.jpg">
    <div>你成功了呢</div>

</body>
</html>